---
layout: default
format: frontpage
---
{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.image or page.widget1.video or page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}

	{% if page.widget2.image or page.widget2.video or page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}

	{% if page.widget3.image or page.widget3.video or page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->

{% comment %}
*
* Serve content
*
{% endcomment %}

<div class="row">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns" style="text-align: center">
        {{ content }}
    </div>

</div><!-- /.row -->

<div class="row text-center t30">
    <div class="expanded button-group large round">
        <a class="button" href="about/">About Us</a>
        <a class="success button" href="join/">Join VICC</a>
    </div>
</div>

