---
# This layout is used to redirect pages, if you moved them.
# Use the following settings in front matter:
#
# layout: redirect
# sitemap: false
# permalink: /old-location/
# redirect_to:  /new-location/
#
# Idea and Code by: http://codingtips.kanishkkunal.in/about/
---
<!DOCTYPE html>
<html>
<head>
	{% include _head.html %}
    <meta http-equiv="refresh" content="20; URL={{ page.redirect_to }}" />
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% include _masthead.html %}
    <br>
	{{ content }}

	{{ site.data.language.if_you_are_not_redirected_automatically }} <a href="{{ page.redirect_to }}">{{ site.data.language.click_here }}</a>.

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}

</body>
</html>
